<template>
  <div class="container">
    <h1 class="p-2">Bonjour,</h1>
    <div class="div-flex-about">
      <div class="pt-4">
        <p>
          j'ai ce mini jeu dans le but d'apprendre, de me familiariser avec Vujs et voir quelques cycles d'un composant.
        </p>
        <p>
          source image : https://vuejs.org/assets/lifecycle.16e4c08e.png
        </p>
      </div>

      <img class="w-50" src="../assets/lifecycle.16.png" alt="" srcset="">
    </div>

  </div>
</template>

<style>
.div-flex-about {
  display: flex;
  gap: 4rem;
  padding: 1rem;
}

/* @media (min-width: 1024px) {
  .about {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
} */
</style>
