<script>
export default {
    data() {
        return {
            // 150
            temps: 150,
            idTimer: null,
            interval: 1000,

        }
    },

    beforeMount() {
        this.idTimer = setInterval(() => {
            this.temps--
            if (this.temps == 0) {
                clearInterval(this.idTimer);

            }
        }, this.interval)
    },
    /**
     * Arete le timer si la bombe a exploser et si idTimer!=null
     */
    beforeUpdate() {
        if (this.idTimer != null && this.temps <= 0) {
            clearInterval(this.idTimer)
        }

    },

    computed: {
        /**
         * Indique si la bombe explose
         */
        explose() {
            if (this.temps <= 0) {
                return true;
            } else {
                return false;
            }
        },
        /**
         * Indique le temps restant Minutes : secondes
         */
        ecran() {
            let minute = Math.floor(this.temps / 60)
            let seconde = (this.temps - minute * 60)
            return `${minute.toFixed(0)} : ${seconde.toFixed(0)}`
        }
    },
    watch: {
        //On arrete le timer et on en recrée un avec le nouvelle interval
        interval(newInterval, oldInterval) {
            clearInterval(this.idTimer)
            oldInterval = this.interval

            newInterval = oldInterval / 2
            this.idTimer = setInterval(() => {
                this.temps--
                if (this.temps == 0) {
                    clearInterval(this.idTimer);
                }
            }, newInterval)

        }
    },
    methods: {
        //Arrete le timer
        filVert() {
            // console.log(this.ecran);
            // console.log(this.temps);
            // console.log(this.idTimer + "id timer");
            // console.log(this.interval);

            clearInterval(this.idTimer)
        },
        //Aleatoirement augmente ou diminue le temps de 30 secondes
        filJaune() {
            let nbr = Math.floor(Math.random() * 3);

            if (nbr == 0) {
                this.temps += 60 * nbr;
            } else {
                this.temps -= 60 * nbr;
            }

        },

    }
}
</script>



<template>
    <section class="my-4">


        <div class="container" v-if="!explose">

            <div class="card m-auto bg-dark text-light border-white" style="width: 18rem;">
                <h3 class="card-title text-center"> Timer : {{ ecran }}</h3>
                <!-- <input type="number" readonly  v-bind:placeholder="ecran"> v-bind:value="ecran" -->
                <div class="d-flex justify-content-center">

                    <button class="btn btn-primary m-3" @click="interval /= 2">Bleu</button>
                    <button class="btn btn-danger m-3" @click="temps = 0">Rouge</button>
                    <button class="btn btn-warning m-3" @click="filJaune()">Jaune</button>
                    <button class="btn btn-success m-3" @click="filVert()">Vert</button>

                </div>
            </div>
        </div>

        <div v-else class="text-center">
            <p class="h1 text-warning bg-dark ">BOOOOM</p>
            <a class="btn btn-info m-3" href="/">Recommencez</a>
            <div class="text-center">
                <img src="../assets/bombe-h.jpg" class="rounded w-50" alt="">
            </div>


        </div>
    </section>
</template>

<style></style>