<script setup>
import { RouterLink, RouterView } from 'vue-router'
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap/dist/js/bootstrap.min.js";
</script>

<template>
  <header>
    

    <div class="wrapper">
 

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div>
          <img alt="Vue logo" class="logo img-fluid img-thumbnail bg-transparent border-0" src="@/assets/logo.svg" width="100" height="100" />
        </div>
        <div class="container-fluid">
          
          <ul class="navbar-nav">

              <RouterLink to="/" custom v-slot="{ href, navigate, isExactActive }">
              <li class="nav-item">
                  <a
                    :href="href"
                    class="nav-link"
                    :class="{ 'active': isExactActive }"
                    @click="navigate"
                  >Accueil</a>
              </li>
            </RouterLink>

            <RouterLink to="/about" custom v-slot="{ href, navigate, isExactActive }">
            <li class="nav-item">
              <a
                :href="href"
                class="nav-link"
                :class="{ 'active': isExactActive }"
                @click="navigate"
              >À propos</a>
            </li>
          </RouterLink>
          </ul>
        </div>

      </nav>
    </div>
  </header>

  <RouterView />
</template>

<style>

</style>